/**
text display

font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Kaushan Script', cursive;
**/

body{
  font-family: 'Open Sans Condensed', sans-serif;
}

header, h1, h2, h3, h4, h5, h6{
    font-family: 'Oswald', sans-serif;
}

a:link, a:visited{
  color: darkseagreen;
  text-decoration:none;
}

/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { 
  margin: 0; padding: 0; 
}

/** site header **/
body > header{
  margin: 0 auto;
  padding: 1em 2em;
}

.site-title{
  margin:10px 30px 10px 10px;
}

.nav-toggle{
  background:transparent;
  border:none;
  padding:0;
  position:absolute;
  top:5px; right:5px;
  width:20px; height:20px;
}

.nav-toggle:active, .nav-toggle:focus{
  border:none;
}

.trigger{
  display:none;
}

nav:hover .trigger{
  display:block;
}

header > nav{
  text-align:right;
}

header > nav  a{
  display:block;
  padding:2px 5px;
}

@media screen and (min-width: 1000px){
  body > header{
    border-left:1px solid black;
    border-right:1px solid black;
    width: 900px;
  }
  
  .nav-toggle{
    display:none;
  }
  
  .trigger{
    display:block;
  }
  
  header > nav a{
    display:inline-block;
  }
}
