/** Reset some basic elements **/
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { 
		margin: 0; padding: 0; 
}

/** layout **/
body > header, body > main, body > footer{
		margin: 0 auto;
		padding: 1em 2em;
}

@media screen and (min-width: 1000px){
		body > header, body > main, body > footer{
				width: 900px;
		}
}

/**
text display

font-family: 'Oswald', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Kaushan Script', cursive;
 **/
body{
		font-family: 'Open Sans Condensed', sans-serif;
}

header, h1, h2, h3, h4, h5, h6{
		font-family: 'Oswald', sans-serif;
}

q{
		font-family: 'Kaushan Script', cursive;
}

a:link, a:visited{
		color: darkseagreen;
		text-decoration:none;
}

a:link:hover, a:visited:hover{
		color: darkgreen;
		text-decoration:underline;
}

/** Icons **/
.icon > svg { 
		display: inline-block; 
		width: 16px; 
		height: 16px; 
		vertical-align: middle; 
}

.icon > svg path { 
		fill: #828282; 
} 

/** borders and colors **/
body > header{
		box-shadow: 0 3px 2px -1px;
}

body > footer{
		box-shadow: inset 0 4px 4px -2px darkseagreen;
}

@media screen and (min-width: 1000px){
		body > header, body > main, body > footer{
				border-left:1px solid black;
				border-right:1px solid black;
		}

		body > footer{
				border-bottom: 1px solid black;
		}
}

/** site header **/
.site-title{
		margin:10px 30px 10px 10px;
}

.nav-toggle{
		background:transparent;
		border:none;
		padding:0;
		position:absolute;
		top:5px; right:5px;
		width:20px; height:20px;
}

.nav-toggle:active, .nav-toggle:focus{
		border:none;
}

.trigger{
		display:none;
}

nav:hover .trigger{
		display:block;
}

header > nav{
		text-align:right;
}

header > nav  a{
		display:block;
		padding:2px 5px;
}

@media screen and (min-width: 768px){
		header > nav a{
				display:inline-block;
		}
}

@media screen and (min-width: 1000px){
		.nav-toggle{
				display:none;
		}

		.trigger{
				display:block;
		}
}

/** site footer **/
footer > section{
		margin-bottom: 15px;
		padding: 0 15px;
}

footer > section > ul{
		list-style: none;
}

@media screen and (min-width: 768px){
		footer > section{
				display: inline-block;
				width: calc(33% - 30px);
		}
}

/** home page **/
.post-list{
		list-style:none;
}
