<footer>

      <section class="contact-list">
        <ul>
          <li>{{ site.title }}</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        </ul>
      </section>

      <section class="social-media-list">
        <ul>
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul>
      </section>

      <section>
        <p>{{ site.description }}</p>
      </section>

</footer>
